<!--The content below is only a placeholder and can be replaced.-->
<div class="header_bar">
  <div class="container"><img alt="BBC Logo" src="assets/bbc.png" class="logo"></div>
</div>
<div class="container content" *ngIf="article">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12">
      <h1 style="margin: 20px 0px; line-height: normal">{{article['hero_1_title']}}</h1>
      <img src="{{article.hero_1_image}}" class="img-fluid" alt="{{article.hero_1_title}}" style="max-width: 100%; height: auto"/>
      <div style="margin: 20px 0px;">
        <p>{{article['p_1_value']}}</p>
        <p>{{article['p_2_value']}}</p>
        <p>{{article['p_3_value']}}</p>
        <p>{{article['p_4_value']}}</p>
        <p>{{article['p_5_value']}}</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="position: relative">
        <div class="row" style="margin: 20px 0px;border: 1px solid #ddd;height: 600px; font-size: 12px; padding: 20px;">
          <div class="col-12 text-center">
            <p>{{article['compare-tabs_1_method']}}</p>
            <h4>{{article['compare-tabs_1_title']}}</h4>
          </div>
        </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
