.header_bar {
  height: 40px;
  width: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 20;
}

.logo {
  height: 30px;
  width: auto;
}

.content {
  margin-top: 40px;
}

.langToggle {
  margin-left: 10px;
  text-align: center;
  opacity: 0.6;
  cursor: pointer;
}

.active {
  opacity: 1;
}

.no-padding {
  padding: 0;
}

.content-spacing {
  margin: 20px 0px;
}

.article-title {
  line-height: normal;
  font-weight: bold;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

.country-tag {
  color: #c21807;
  cursor: pointer;
}

.city-holder {
  margin: 20px 0px;
  background: #ddd;
  font-size: 12px;
  padding: 20px;

  .city-list {
    height: 400px;
    overflow: scroll;

    .city-list-item {
      margin-bottom: 10px;
      cursor: pointer;

      .city-list-item-progress-holder {
        width: 100%;
        height: 20px;
        background-color: black;

        .city-list-item-progress {
          height: 20px;
          background-color: #c21807;
        }
      }
    }
  }
}

.popover-header {
  background-color: #ddd;
}

.searchBox {
  width: 100%;
  border: none;
  height: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

input:focus {
  outline: none;
}

.custom-footer {
  background-color: #000;
  color: #fff;
}

.cigar_icon {
  height: 60px;
  width: auto;
}

.article_info {
  color: #808080;
  font-size: 14px;
}
